body, button, input, select, textarea{
margin:0;
background:#fff;
font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", sans-serif;
}
#topBar{
/* box-shadow:0 0 16px 5px rgba(0,0,0,0.3); */
background:rgba(80,80,80,0.9);
/* background:#444; */
position:fixed;
height:40px;
width:100%;
color:#aaa;
z-index:10;
}
#topBar .column{
margin-top:8px;
display:inline-block;
height:20px;
line-height:20px;
font-size:16px;
padding:2px;
vertical-align:top;
}
#topBar .button{
display:inline-block;
background:#777;
/* box-shadow:0 0 3px rgba(0,0,0,0.3); */
border:1px solid #777;
border-radius:3px;
padding:1px;
color:#333;
font-size:16px;
}
#topBar .category:hover{
background:#999;
}
#topBar .category{
height:auto;
width:20px;
}
#search{
float:left;
}
#search .icon{
margin:4px;
}
#acount{
float:right;
}
#siteTitleWrapper{
margin:0;
padding:0;
display:block;
height:100%;
width:100%;
position:relative;
}
#siteTitle{
width:140px;
display:block;
position:absolute;
left:50%;
margin-left:-70px;
font-size:20px;
line-height:20px;
text-align:center;
color:#ddd;
padding:2px 0;
}
#mainSection{
padding-top:50px;
color:#333;
}
#header{
/* padding:20px; */
/* background:#ccc; */
text-align:center;
color:#777;
}
#avatarPhotoWrapper,.avatarPhotoWrapper{
height:20px;
width:20px;
overflow:hidden;
display:inline-block;
}
#avatarPhoto,.avatarPhotoWrapper img{
max-height:100%;
}
#acountName{
display:inline-block;
}
.pushDown{
padding-top:50px;
}
.stream{
display:inline-block;
vertical-align:top;
margin-right:7px;
}
.stream:last-child{
margin:0;
}
.frame{
display:block;
/* box-shadow:0 0 6px rgba(0,0,0,0.3); */
border:0px solid #fff;
border-bottom:1px solid #fff;
border-radius:7px;
background:#fff;
width:210px;
margin:10px 0;
color:#aaa;
}
.frame .footer{
/* position:relative; */
display:block;
/* top:-7px; */
background:#fff;
padding-top:13px;
padding-bottom:1px;
}
.frame .footer >*{
padding:0;
margin:0;
line-height:20px;
vertical-align:bottom;
display:inline-block;
}
.mainPage .frame .title{
max-width:280px;
height:20px;
overflow:hidden;
}
.frame .title{
float:right;
font-size:16px;
font-weight:bold;
margin:0 2px;
}
.frame .icon{
	margin:0;
}
.mainPage .frame{
width:476px;
}

.action{
display:inline-block;
text-align:center;
border:1px solid #eee;
border-radius:7px;
margin-top:4px;
/* background:#eee; */
padding:6px;
color:#777;
font-size:12px;
line-height:12px;
}
.action:hover{
background:#aaa;
color:#ddd;
}
.action:active{
background:#777;
color:#ddd;
}
.photo{
display:block;
background:#fff;
}
.photo img{
border:0px solid #fff;
background:#000;
/* border-radius:10px;
border-bottom-right-radius:0;
border-bottom-left-radius:0; */
display:block;
max-width:100%;
/* min-height:100%; */
margin:0 auto;
}
.mainPage .photo{
/* height:357px; */
overflow:hidden;
}
.actions{
display:block;
padding:0;
margin:0;
margin-bottom:10px;
}
.frame .footer>*{
padding:0;
margin:0;
vertical-align:middle;
display:inline-block;
}
#search .inputText :after{
content:"⊚";
display:inline;
}
.debug{
display:none;
position:fixed;
top:100px;
}
.column{
display:inline-block;
height:100%;
vertical-align:top;
}
.nextPage{
text-align:center;
display:block;
background:#eee;
border:1px solid #eee;
border-radius:7px;
padding:14px;
color:#777;
font-size:16px;
margin:30px 0;
}
.nextPage:hover,.nextPage:active{
background:#fff;
}
.center{
width:960px;
margin:0 auto;
padding-left:30px;
padding-right:30px;
}
.relative{
position:relative;
}
#object{
}